
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> {{ platform.Name }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> {{ platform.TotalValue }}€ </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    
    <mat-card-actions>
      
      <button mat-button value="add" (click)="onClick($event)"    [ngStyle]="{'background-color': 0 ? 'lightblue' : 'green'}" >+</button>
      <button mat-button value="substract" (click)="onClick($event)"  [ngStyle]="{'background-color': 'red'}" >-</button>

      <mat-form-field *ngIf="showInput">
        
        
        <mat-label>Inserisci valore transazione</mat-label>
        <textarea matInput [ngStyle]="{'background': isValidInput ? 'green' : 'red'}"  [(ngModel)]="transValue" (input)="onInput($event)"></textarea>
        
      </mat-form-field>
      
    </mat-card-actions>
  </mat-card>