
  <mat-card class="card" >
    <mat-card-header>
      <mat-card-title > <button mat-button routerLink="{{platform.ID}}">{{ platform.Name }}</button>    </mat-card-title>
      <!-- <button mat-icon-button><mat-icon>open_in_new</mat-icon></button> -->
    </mat-card-header>

    <mat-card-content>
      <h1> <b>{{ platform.TotalValue }}€ </b></h1>
      <mat-divider></mat-divider>
    </mat-card-content>
    
    <mat-card-actions>
      <app-add-transaction [platformID]="platform.ID" ></app-add-transaction>
    </mat-card-actions>
    
    
  </mat-card>
