mat-sidenav-container{
   height: calc(205vh - 115vh);
}

mat-sidenav{
  width: 200px;
}

mat-nav-list a{
  display: flex;
 justify-content: space-between;
 background-color: aliceblue;
 padding: 10px;
}