<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button mat-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>Menu
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="push">  <!-- mode= [over, push, side] -->
    <mat-list>
        <mat-list-item><button mat-button routerLink="/degiro" ><mat-icon> attach_money</mat-icon>Degiro</button></mat-list-item>
        <mat-list-item><button mat-button routerLink="/bondora"><mat-icon> attach_money</mat-icon>Bondora</button></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content> 
    <app-content></app-content>
   <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Inserisci un commento" (input)="onInput($event)"></textarea>
  </mat-form-field>
  </mat-sidenav-content>
</mat-sidenav-container>
